<h2>Login</h2>
<% if (typeof error === 'string') { %>
  <div style="color:red"><%= error %></div>
<% } %>

<form method="post" action="/do-login">
  <input type="password" name="password" placeholder="Password" required />
  <label style="display:block;margin:8px 0;">
    <input type="checkbox" name="remember" value="1" />
    Remember this device
  </label>
  <button type="submit">Sign In</button>
</form>
