<h2>Login</h2>
<% if (typeof error === 'string') { %>
  <div style="color:red"><%= error %></div>
<% } %>

<form method="post" action="/do-login">
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Sign In</button>
</form>
